<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>同学</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>高中同学</string>
				<key>data</key>
				<array>
					<string>高一</string>
					<string>高二</string>
					<string>高三</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>大学同学</string>
				<key>data</key>
				<array>
					<string>大一</string>
					<string>大二</string>
					<string>大三</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>小学同学</string>
				<key>data</key>
				<array>
					<string>小一</string>
					<string>小二</string>
					<string>小三</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>家人</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>兄弟</string>
				<key>data</key>
				<array>
					<string>强哥</string>
					<string>华哥</string>
					<string>张哥</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>姐妹</string>
				<key>data</key>
				<array>
					<string>你妹</string>
					<string>小妹</string>
					<string>他妹</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
